
#middle{
    /* ensures that the main body content begins where the banner ends */
    /* this is because the top banner overlaps the middle */
    box-sizing: border-box;
    padding-top: 120px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: white;
    /* is a wide as the entire page */
    width: 100%;
    /* is atleast 1 viewport tall */
    /* min-height: 90vh; */
    z-index: 1;

    /* this ensures makes a flex container for the rows and makes them face downwards */
    display: flex;
    flex-direction: column;

}

.rowTitle{
        /* design for the boxes */
        background-color: white;
        padding: 5px;
        border: solid 1px black;
        border-radius: 5px;
        /* is as wide as the content */
        width: max-content;
}

.middleRows{
    /* margin-top: 20px; */
    display: flex;
    flex-direction: row;
    /* sits in the middle of the page and creates space around itself (for child elements)*/
    justify-content: space-around;
    /* lowest width allowed for child elements*/
    gap: 10px;
    /* is as wide as the screen */
    width: 100%;
    flex: 1;
    padding: 20px;
    flex-wrap: wrap;
}

/* placeholder for where the images etc. will go */
.placeholderItems{
    background-color: grey;
    /* this allows the box to retain its aspect ratio when the screen gets resized */
    aspect-ratio: 2;
    width: 400px;

    /* width: 400px; */


    /* has it shrink when there is no space on screen */
    align-self: center;
    flex-shrink: 1;



}

/* could be added into middle rows (originally was only on the top two rows) */
.separatingLine{
    border-bottom: solid 1px black;
}

/* placeholder for where the images etc. will go */
.merch{
    background-color: grey;
    aspect-ratio: 2;
    width: 400px;
    justify-content: center;
    align-self: center;
    flex-shrink: 1;

}

/* placeholder for where the images etc. will go */
.artists{
    background-color: grey;
    aspect-ratio: 2;
    width: 400px;
    justify-content: center;
    align-self: center;
    flex-shrink: 1;

}
