body{
    margin: 0;
}

#topBanner{
    background-color: grey;

    /* height of banner */
    height: 100px;
    /* ensures that the navbar stays at the top when scrolling */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* ensures it overlaps everything */
    z-index: 9999;
    /* makes it a flexbox container */
    display: flex;
    /* puts the links at the end */
    /* justify-content: flex-end; */
    align-items: end;

    border-bottom: solid 1px black;

    /* padding-left: 20px; */
    /* padding-right: 50px; */

}

#logo{
    /* these two put the logo to the left side */
    margin-left: 20px;
    margin-right: auto;

    /* box design */
    background-color: white;
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
    border: solid 1px black;
}

#linksBox{
    /* had to make a separate container for the links otherwise margin-right
    wouldnt work in #topBanner as the position is fixed */
    display: flex;
    flex-direction: row;
    margin-right: 50px;

}

.links{
    /* design for the boxes */
    background-color: white;
    padding: 5px;
    border: solid 1px black;
    padding-right: 30px;
    border-radius: 5px;
}

/* placeholder for shopping cart symbol */
#shoppingCart{
    background-color: white;
    height: 30px;
    width: 60px;
    border: solid 1px black;
    /* makes it round */
    border-radius: 50%;
    /* aligns it to the top */
    align-self: flex-start;
    /* gives space around itself */
    margin: 10px;
    /* disabled the shopping cart from shrinking when the screen is smaller*/
    flex-shrink: 0;
}

#bottomBanner{
    background-color: grey;
    height: 100px;
    width: 100%;
    /* position: relative; */
    bottom: 0;
    left: 0;
    z-index: 9999;

}